@tailwind base;
@tailwind components;
@tailwind utilities;

.ant-space-item{
    width: 100%;
}
.ant-btn{
    background-color: #1c74d8;
    color: white;
}

.rce-avatar{
    border-radius: 50%;
}
#scrollableMessage::-webkit-scrollbar{
    width: 6px;
    background-color: transparent;
}
#scrollableMessage::-webkit-scrollbar-thumb{
    background-color:  gray;
}
.users-scroll::-webkit-scrollbar{
    width: 4px;
    background-color: transparent;
}
.users-scroll::-webkit-scrollbar-thumb{
    background-color:  rgb(44, 44, 44);
}

.rce-mbox{
    background: #0b1114 !important;
}
.rce-mbox-left-notch, .rce-mbox-right-notch{
    fill: #0b1114 !important;
}
.rce-mbox-text{
    color: white;
}
.rce-mbox-time{
    color: gray !important;
}
.ant-modal-content{
    padding: 0 !important;
}
.ant-modal-content, .ant-modal-title{
    background-color: #121C22 !important;
    color: white !important;
}
.ant-modal-close{
    color: rgb(179, 179, 179) !important;
}
.ant-modal-confirm-title, .ant-modal-confirm-content{
    color: white !important;
}
.ant-dropdown .ant-dropdown-menu{
    background-color: #0B1114 !important;
    /* margin-top: 8px !important; */
}

.ant-dropdown .ant-dropdown-menu .ant-dropdown-menu-item{
    color: white !important;
}

